*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@keyframes ldio-traogdneixk {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-traogdneixk div {
  left: 94px;
  top: 48px;
  position: absolute;
  animation: ldio-traogdneixk linear 1.0204081632653061s infinite;
  background: #504744;
  width: 12px;
  height: 24px;
  border-radius: 6px / 12px;
  transform-origin: 6px 52px;
}.ldio-traogdneixk div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.935374149659864s;
  background: #504744;
}.ldio-traogdneixk div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8503401360544218s;
  background: #504744;
}.ldio-traogdneixk div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.7653061224489796s;
  background: #504744;
}.ldio-traogdneixk div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6802721088435374s;
  background: #504744;
}.ldio-traogdneixk div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5952380952380952s;
  background: #504744;
}.ldio-traogdneixk div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5102040816326531s;
  background: #504744;
}.ldio-traogdneixk div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4251700680272109s;
  background: #504744;
}.ldio-traogdneixk div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3401360544217687s;
  background: #504744;
}.ldio-traogdneixk div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25510204081632654s;
  background: #504744;
}.ldio-traogdneixk div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.17006802721088435s;
  background: #504744;
}.ldio-traogdneixk div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08503401360544217s;
  background: #504744;
}.ldio-traogdneixk div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #504744;
}
.loadingio-spinner-spinner-6dyxzy2b1n9 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #000000;
}
.ldio-traogdneixk {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-traogdneixk div { box-sizing: content-box; }

.loader{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease;
}

.cuerpo{
    overflow: hidden;
}

:root{ 
    --fondo-divs: rgba(48, 50, 54, 0.5);
}

h3{
    font-weight: 600;
}

body{
    color: white;
    background-image: url("../img/sword_orion.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px;
}

.container{
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

body::-webkit-scrollbar{
    width: 8px;
    background: rgb(107, 106, 106);
}

body::-webkit-scrollbar-thumb{
    background: rgb(66, 66, 66);
}

.encabezado{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 6.25rem;
    font-family: 'Noto Sans', sans-serif;
}

.caja-menu{
    display: none;
}

.boton-menu{
    display: none;
}

.articulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    height: 100%;
    width: 100%;
    padding: 0;
    margin-top: 0.3125rem;
    padding-bottom: 5px;
}

.nombre-planeta{
    background: var(--fondo-divs);
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 1em;
    margin-right: 0.3125rem;
}

.posicion-planeta{
    font-weight: 300;
}

.caja-lista-planetas{
    background: var(--fondo-divs);/*
    border: 1px solid red;*/
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    font-size: 1em;
}

#menu-planetas{
    display: none;
}

#boton-salir-menu{
    display: none;
}

#lista-menu-planetas{
    display: none;
}

.lista-planetas{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

.lista-planetas > a{
    text-decoration: none;
    color: white;
}

.actual{
    background-color: rgba(29, 29, 29, 0.65);
}

.caja-planeta{
    list-style: none;
    padding: 0.30em 1.5em;
    width: 6.25rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-bottom, background-color .3s;
}

.caja-planeta:hover{
    border-bottom: 0.125rem solid white;
    background-color: rgb(66, 66, 66);
    cursor: pointer;
}

.datos-planeta{
    width: 60%;
    margin-right: 0.3125rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.caja-lectura{
    padding: 0.50rem;
    border-bottom: 0.125rem solid white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    min-width: 200px;
    min-height: 59px;
    transition: border-bottom, background-color .3s;
}

.caja-lectura:hover{
    border-bottom: 0.20rem solid white;
    background-color: rgb(66, 66, 66);
}

.lectura{
    font-size: 14px;
    color: white;
    font-weight: 300;
}

.valor{
    font-size: 15px;
    color: white;
}

.descripcion-planeta{
    width: 40%;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
}

.bloque-descripcion{
    background: var(--fondo-divs);
    width: 100%;
    min-height: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.descripcion{
    margin-top: 1rem;
    font-size: 1.125rem;
    text-align: justify;/*
    word-break: break-all;
    hyphens: auto;*/
}

.planeta{
    background: rgba(0, 0, 0);
    width: 100%;
    height: 37.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-planeta{
    height: 37.5rem;
    object-fit: contain;
    object-position: center;
    width: 100%;
}

.lecturas-planeta{
    margin-top: 0.3125rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background: var(--fondo-divs);
}

.titulo-lista-lecturas{
    font-weight: 600;
    align-self: flex-start;
    padding-left: 1rem;
    padding-top: 1rem;
}

.lista-lecturas{
    margin: 1em;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,auto));
    justify-content: center;
    gap: 0.8rem;
}

.datos-descripcion{
    margin-top: 1rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.125rem;
}

.caja-dato-desc{
    margin: 0.625rem 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.flecha-der{
    margin-top: 0.125rem;
    margin-right: 0.1875rem;
}

#footer-info{
    width: 100%;
    background: var(--fondo-divs);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    padding-bottom: 10px;
    margin-bottom: 5px;
    font-size: 14px;
}

#footer-info > p{
    padding-top: 10px;
}

/*----------------------------------------------Media Screen----------------------------------------------*/

@media screen and (max-width: 1220px) {
    .caja-planeta{
        list-style: none;
        padding: 0.15em 0.75em;
        width: 5.75rem;
        height: 2rem;
    }
}

@media screen and (max-width: 1135px) {
    .container{
        width: 100%;
        height: auto;
        background: rgba(0, 0, 0, 0.75);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .encabezado{
        margin: 0;
        background: var(--fondo-divs);
    }

    .articulo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
        margin-top: 0.3125rem;
        padding-bottom: 0.3125rem;
    }

    .caja-lista-planetas{
        display: none;
    }

    .datos-planeta{
        width: 100%;
        height: auto;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        margin: 0;
    }

    #menu-planetas{
        position: relative;
        display: none;
        width: 100%;
        height: 100%;
        padding: 1em;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        font-size: 1em;
        top: 0px;
        font-family: 'Noto Sans', sans-serif;
        padding-bottom: 1rem;
        background: rgba(0, 0, 0, 0.75);
        transition: all ease .4s;
    }
    
    #boton-salir-menu{
        border: none;
        background: transparent;
        justify-self: center;
        align-self: flex-start;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1em 0 1em 0;
        padding: 0.25em;
        transition: all ease .4s;
    }

    #boton-salir-menu:hover{
        cursor: pointer;
        background-color: rgba(42, 42, 42);
        border-radius: 2em;
    }

    .icono-flecha-salir{
        font-size: 3em;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #lista-menu-planetas{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 0.50rem;
    }

    .caja-planeta{
        list-style: none;
        padding: 0.30em 1.5em;
        width: 100%;
        min-height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: border-bottom, background-color .3s;
        border-bottom: 0.1rem solid white;
    }
    
    .caja-planeta:hover{
        border-bottom: 0.125rem solid white;
        background-color: rgb(66, 66, 66);
        cursor: pointer;
    }

    #lista-menu-planetas > a{
        text-decoration: none;
        color: white;
        width: 100%;
    }

    .actual{
        background-color: rgba(53, 52, 51, 0.65);
    }

    .caja-boton{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding-right: 1.25rem;
        margin-left: 0;
        padding-left: 2px;
    }

    .boton-menu{
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
    }

    .boton-menu:hover{
        cursor: pointer;
        background-color: rgb(42, 42, 42);
        border-radius: 5px;
    }

    .icono-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        font-size: 2.5rem;
        color: white;
    }

    .nombre-planeta{
        width: 100%;
        margin-right: 0;
        background-color: transparent;
    }

    .descripcion-planeta{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .lecturas-planeta{
        margin-top: 5px;
        margin-bottom: 5px;/*
        height: auto;*/
    }

    .bloque-descripcion{
        margin: 0;
        padding: 1em;
    }
}

@media screen and (max-width: 660px) {

    .lista-lecturas{
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        gap: 0.75rem;
    }

    .caja-lectura{
        padding: 0.50rem;
        height: 59px;
        border-bottom: 0.15rem solid white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        min-width: 95%;
        transition: border-bottom, background-color .3s;
    }

    .caja-lectura:hover{
        padding: 0.50rem;
        border-bottom: 0.20rem solid white;
        background-color: rgb(66, 66, 66);
    }
    
    .caja-lectura > p{
        font-size: 17px;
    }
}

@media screen and (max-width: 360px) {
    .nombre-planeta{
        font-size: 14px;
    }   
}